body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.first-section {
    width: 100%;
    height: 942px;
    background-image: url(images/image1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 100px;
}

.first-sec-img {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.808), transparent);
    height: 100%;
    width: 100%;
    position: absolute;
}

.first-heading {
    color: white;
    font-size: 80px;
    font-weight: 700;
}

.first-heading-1 {
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.heading-position {
    margin-top: 12%;
    margin-left: 15%;
}

.button-design {
    color: white;
    background-color: red;
    padding: 20px 40px;
    font-size: 22px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 10px;
}

.second-section {
    display: flex;
    margin-top: 150px;
}

.second-heading {
    color: black;
    font-size: 60px;
    font-weight: bolder;
}

.second-section-1 {
    margin-left: 15%;
    width: 100%;
}

.second-para {
    font-size: 18px;
    color: gray;
}

.yt-video {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 80px;
}

.third-section {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}

.prayer-img {
    height: 550px;
    width: 500px;
    margin-left: 30px;
    border-radius: 5px;
}

.third-heading {
    margin-left: 5%;
    color: black;
    font-size: 60px;
    font-weight: bolder;
}

.third-section-1 {
    margin-right: 300px;
}

.fourth-section-2 {
    text-align: center;
    color: black;
    font-size: 60px;
    font-weight: bolder;
}

.two {
    text-align: center;
    color: gray;
}

.bkash-nagad {
    display: flex;
    margin-top: 50px;
    margin-bottom: 40px;
    margin-left: 40px;
}

.bkash-nagad-2 {
    display: flex;
    margin-top: 0px;
    margin-left: 40px;
}

.bkash {
    height: 200px;
    width: 500px;
    margin-left: 40px;
    padding: 30px;
    background-color: rgb(236, 206, 226);
    margin-left: 300px;
    border-radius: 10px;
}

.nagad {
    height: 200px;
    width: 500px;
    margin-left: 40px;
    padding: 30px;
    background-color: rgb(236, 206, 226);
    border-radius: 10px;
}

.prayer-section {
    display: flex;
    margin-top: 150px;
}

.img-1 img {
    margin-left: 150px;
    width: 400px;
    height: 450px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.jakat1 {
    background-color: white;
    margin-top: 120px;
    height: 550px;
    width: 310px;
    margin-left: 150px;
    border: 1px solid gray;
    border-radius: 10px;
}

.zakat {
    display: flex;
    margin-left: 150px;
    margin-bottom: 100px;
}

.jakat1 img {
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
}

.jakat1-heading {
    padding-left: 20px;
    padding-right: 20px;
}

.color-red {
    color: red;
    font-size: 22px;
    font-weight: 700;
}

footer {
    height: 170px;
    background-color: rgba(115, 38, 167, 0.932);
    color: rgb(13, 17, 12);
    text-align: center;
    padding-top: 50px;
    font-size: 18px;
    font-weight: 700;
}